/* --- Design
==============================================================================*/

/* --- Index
==============================================================================*/

.admin-comment-elements {
    max-height: 500px;
    overflow-x: auto;
}

/* --- Forms
==============================================================================*/

textarea {
    margin-bottom: 15px;
}
