/*
 * Copy this file into your theme to customize it.
 * https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-theme
 *
*/

.scroll-to {
    position : fixed;
    z-index : 10;
    display : none;
    background-color : rgba(15,15,16,0.8);
}

#scroll-to-top {
    right : 25px;
    bottom : 0;
    padding : 2px 11px 3px 10px;
    transition : 0.2s;
}

#scroll-to-bottom {
    right : 25px;
    bottom : 0;
    padding : 2px 11px 3px 10px;
    transition : 0.2s;
}

.scroll-to i {
    color : rgba(255,255,255,0.8);
    transition : 0.2s;
}

.scroll-to:hover i {
    color : rgba(255,255,255,1);
    transition : 0.3s;
}

@media (min-width: 769px) {

    #scroll-to-top {
        bottom : 25px;
        padding : 9px 11px 11px 10px;
    }

    #scroll-to-bottom {
        bottom : 25px;
        padding : 9px 11px 11px 10px;
    }

    .scroll-to i {
        font-size : 2em;
    }
}

@media (max-width: 768px) {

    #scroll-to-top:hover {
        padding : 9px 11px 11px 10px;
        transition : 0.3s;
    }

    #scroll-to-bottom:hover {
        padding : 9px 11px 11px 10px;
        transition : 0.3s;
    }
}
